<div>
  <div class="esg-form__group esg-has-feedback">
    <div class="esg-form__input-group">
      <input class="time-entry esg-form__input" type="text\javascript" />
      <div class="esg-form__feedback-icon esg-icon__container">
        <svg class="esg-icon esg-icon--error">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use>
        </svg>
      </div>
    </div>
  </div>
  <br />
  <div class="esg-form__input-group">
    <input class="time-entry esg-form__input" type="text\javascript" />
    <div class="esg-form__feedback-icon esg-icon__container">
      <svg class="esg-icon esg-icon--error">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use>
      </svg>
    </div>
  </div>
</div>
