<div>

  <div class="esg-form__group">

    <label>
      Start
      {{#if breakdownTime}}
        {{> time.breakdown.input.partial }}

      {{else}}
        <input class="time-entry esg-form__input" type="text" />
      {{/if}}
    </label>

  </div>
  <br />
  <div class="esg-form__group">

    <label>
      End
      {{#if breakdownTime}}
        {{> time.breakdown.input.partial }}

      {{else}}
        <input class="time-entry esg-form__input" type="text" />
      {{/if}}
    </label>

  </div>
  _____________________________________
</div>
