<div class="container-fluid">

    <h1>TimePicker User Testing for EDS and Colleague Time Entry</h1>

    <p>Choose a testing link to try a timepicker option</p>
    <ul>
      <li>Test 1 identifies how keyboard input affects usability on desktops</li>
      <li>Test 2 identifies how keyboard input affects usabliity on touch devices</li>
      <li>Test 3 identifies compares web vs native time selection on touch devices</li>
    </ul>
</div>
