<div class="container-fluid">

    <h1>TimePicker User Testing for EDS and Colleague Time Entry</h1>

    <p>Choose a testing link to try a timepicker option</p>
    <ul>
      <li>Category 1 identifies how keyboard input affects usability on desktop devices.</li>
      <li>Category 2 identifies how keyboard input affects usability on touch devices.</li>
      <li>Category 3 compares three kinds of 'pickers' on touch devices.</li>
    </ul>


</div>
