<div class="container-fluid">
  <h1>Desktop Test 2B</h1>

  <p>
    Fill out your timesheet based on your work schedule:
    <ul>
      <li>8:30am-12:00pm Monday - Wednesday</li>
      <li>1:00pm-6:15pm Thursday - Friday</li>
    </ul>
    Note: You can only enter time with your keyboard
  </p>

  <div class="row">
    {{> timecard.partial}}
  </div>
</div>

<script>
//the idea here is that we disable the dropdown, so users HAVE to use a touch keyboard.
$(".time-entry").pickatime({
  interval: 15,
  clear: false,
  editable: true,
  klass: {
    holder: 'picker__holder esg-dropdown',
    list: 'picker_list esg-dropdown__menu',
    listItem: 'picker__list-item esg-dropdown__menu-item'
  },

});

//note that only onStart and onRender events are fired when input is "editable"
//so we need to wire up our on change events
$('.time-entry').on("change", function(e) {
  console.log(e.currentTarget.value);
});
</script>
