<div class="container-fluid">
  <h1>Mobile Test 2A</h1>

  <p>
    Fill out your timesheet based on your work schedule. Your manager requires you to be specific up to the minute:

  </p>
  <p>
    <strong>10:06am - 7:17pm Monday - Friday </strong>
  </p>
  <p>
    Note: Enter time using your device's keyboard
  </p>


  <div class="row">
    {{> timecard.partial breakdownTime=false}}
  </div>
</div>



<script>

$(".time-entry").timepicker({
  step: 1,
  scrollDefault: "now",
  forceRoundTime: true,
  showOn: null,
  className: "esg-dropdown",
  orientation: "lb",
});
$(".time-entry").on("timeFormatError", function(e) {
  $(e.target.offsetParent).addClass("esg-has-error");
});
$(".time-entry").on("changeTime", function(e) {
  $(e.target.offsetParent).removeClass("esg-has-error");
});
</script>
