<div class="container-fluid">
  <h1>Mobile Test 3B</h1>

  <p>
    Fill out your timesheet based on your work schedule:
    <ul>
      <li>8:30am-12:00pm Monday - Wednesday</li>
      <li>1:00pm-6:15pm Thursday - Friday</li>
    </ul>
  </p>

  <div class="row">
    {{> timecard.partial}}
  </div>
</div>

<script>
//switch to default theme
$("#pickatime-theme-base, #pickatime-theme-time").each(function() {
  this.href = this.href.replace(/(.+\/)(\w+)(.+)/, '$1' + 'default' + '$3')
});

$(".time-entry").pickatime({
  interval: 15,
  clear: false,
  klass: {
    holder: 'picker__holder esg-dropdown',
    list: 'picker_list esg-dropdown__menu',
    listItem: 'picker__list-item esg-dropdown__menu-item'
  },
}).removeAttr("readonly");

</script>
